extends ../layout

block content
	include ../includes/lodge_template
	div.c-col
		table#officers
			each officer in officers
				th(class="ac", colspan="2")=officer.title
				each chair in officer.chairs
					tr
						td=chair.title+" :"
						td=chair.name
		button(id="officer_update")
		//- div(id="dialog-3", title="Officer Update")
		//- 	form(id="update-officer", action="/officers/?_method=PUT", method="POST")
		//- 		each officer in officers
		//- 			.form_row
		//- 				label Title:
		//- 				input(id="title" type="text" name="title" value=officer.title size="20" maxlength="20")
		//- 				input(type="hidden" name="id" value=officer._id size="20" maxlength="20")
		//- 			each chair in officer.chairs
		//- 				.form_row
		//- 					label=chair.title+":"
		//- 					input(type="text" name="name" value=chair.name size="20" maxlength="20")
		//- 			.form_row
		//- 				label Password:
		//- 				input(id="name" type="hidden" name="brother" value="Hiram" size="20" maxlength="20")
		//- 				input(id="passphrase" type="password" name="passphrase" size="20" maxlength="20" required)
		//- 			div#update_form
		//- 				input(type="submit" class="update-btn" value="Update")
		//- 				input(type="button" class="cancel-btn" value="Cancel")