extends ../layout

block content
  include ../includes/lodge_template
  div.c-col
    h2 Masonic Trestleboard
    table#event
      tr
        th(class="ac", colspan="4") Charity Events and Masonic Dinners
      tr
        th Event
        th Date
        th
      each event in events
        tr
          td(title="Click for Event Details"): a(href="/news/"+event._id)= event.title
          td(title="Click for Event Details"): a(href="/news/"+event._id)= event.date
          td.ac
            input(class="id", type="hidden", value=event._id)
            button(title="Delete", class="delete")
    table#msg
      tr
        th(class="ac", colspan="4") Masonic Work
      tr
        th Date
        th Message
        th Type
        th
      each msg in msgs
        tr
          td=msg.date
          td=msg.msg
          td=msg.type
          td.ac
            input(class="id", type="hidden", value=msg._id)
            button(title="Delete", class="delete")
    //- div.manage
    //-   a(href="/post") Trestleboard Manager
    //- div(id="dialog", title="Delete Message")
    //-   form(class="delete-item", method="POST", data-confirm="Are you sure you want to delete this Message?")
    //-     label Password:
    //-       input(id="name" type="hidden" name="name" value="Hiram" size="10" maxlength="10")
    //-       input(id="passphrase" type="password" name="passphrase" size="10" maxlength="10" required)
    //-     input(type="submit" value="Delete")

