extends layout
block content
    include includes/lodge_template
    div.c-col
        h2 Lodge Event Detail
        #event_show
            .event_row
                label Title:
                .event_field=event.title
            .event_row
                label Date:
                .event_field=event.date
            .event_row2
                label Details:
                .event_textarea=event.details
            .event_row
                label Address:
                .event_field=fullAddress
        button(id="event_update")
        div(id="dialog_event", title="Event Update")
            form(id="update-event", action="/news/"+event._id+"?_method=PUT", method="POST")
                .form_row
                    label Title:
                    input(id="title" type="text" name="title" value=event.title size="20" maxlength="20")
                    input(type="hidden" name="id" value=event._id size="20" maxlength="20")
                .form_row
                    label Date:
                    input(id="date" type="text", name="date" size="10" value=event.date)
                .form_row
                    label Details:
                    textarea(id="details" name="details" rows="2" cols="40")=event.details
                .form_row
                    label Address:
                    input(id="address" type="text" name="address" value=event.address size="30" maxlength="30")
                .form_row
                    label City:
                    input(id="city" type="text" name="city" value=event.city size="20" maxlength="20")
                .form_row
                    label State
                    select(name="state")
                        option(selected="selected" value="-1") ---------------
                        for state in states
                            option(value=state.abbr, selected=event.state == state.abbr)= state.name
                .form_row
                    label Zip Code
                    input(type="text", name="zipCode", size="10" value=event.zipCode)
                .form_row
                    label Password:
                    input(id="name" type="hidden" name="brother" value="Hiram" size="20" maxlength="20")
                    input(id="passphrase" type="password" name="passphrase" size="20" maxlength="20" required)
                div#update_form
                    input(type="submit" class="update-btn" value="Update")
                    input(type="button" class="cancel-btn" value="Cancel")