extends layout

block content
	include includes/lodge_template
	div.c-col
		h2 Masonic Trestleboard
		table#event
			tr
				th(class="ac", colspan="3") Charity Events and Masonic Dinners
			tr
				th Event
				th Date

			each event in events
				tr
					td= event.msg
					td= event.date
		table#msg
			tr
				th(class="ac", colspan="3") Masonic Work
			tr
				th Date
				th Message
				th Type
			each msg in msgs
				tr
					td= msg.date
					td= msg.msg
					td= msg.type
		div.manage
			a(href="/post") Trestleboard Manager